<footer class="flex items-center justify-center h-20 text-gray-300" style="margin-top: 100px;">
    <div class="p-0 m-0 w-screen flex justify-between">
        <div class="flex text-xs" style="color:#6b7280;">
            v0.2 | Copyright © 2023 Daniel "Poce" Poveda <br>
            I made this blog to learn a little bit about frontend
        </div>
            <div class="flex items-center">
                <div>
                    </div>
                    <ul class="flex mb-3 text-xs pt-1 pl-2" style="color:#6b7280 ">
                        <li class="pr-2 border-r-2 border-dotted" style="border-color:#6b7280;" >
                            <a href="/">Home</a>
                        </li>
                        <li class="pl-2">
                            <a href="/">Posts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>